.dynamic-tag.ck-widget {
  border: 1px solid;
  padding: 0;
  width: auto;
  display: inline-block;
  border-radius: .5em;
  overflow: hidden;
  vertical-align: middle;
}

.dynamic-tag.ck-widget > code {
  opacity: .5;
}

.dynamic-tag.ck-widget > code, .dynamic-tag.ck-widget > span {
  display: inline-block;
  margin: 0;
  padding: 2px 4px;
}
